  <% provide(:title, "Connect around live events") %>
  <%= render "shared/category_navbar" %>
  <!-- Page Content -->
  <div class="main-event-page">
    <div class="col-md-3">
      <div id="search-sidebar">
        <h4><b>Search by</b></h4>
        <%= form_tag events_path, method: :get do %>

          <p class="help-block"></p>
          <%= hidden_field_tag :search, params[:search] %>
          <%= hidden_field_tag :category, params[:category] %>

          <h4><b>Date</b></h4>
          <div class="list-group">
            <%= submit_tag "Tomorrow", name: "timeline", id: "timeline", class: "list-group-item", style: "width: 100%" %>
            <%= submit_tag "Today", name: "timeline", id: "timeline", class: "list-group-item", style: "width: 100%" %>
            <%= submit_tag "Yesterday", name: "timeline", id: "timeline", class: "list-group-item", style: "width: 100%" %>
            <%= submit_tag "This Weekend", name: "timeline", id: "timeline", class: "list-group-item", style: "width: 100%" %>
            <%= submit_tag "Any Day", name: "timeline", id: "timeline", class: "list-group-item", style: "width: 100%" %>

            <%= submit_tag "Past Events", name: "timeline", id: "timeline", class: "list-group-item", style: "width: 100%" %>
          </div>
          <p class="help-block"></p>

        <% end %>
        <div class="list-group">
          <h4><b>Category</b></h4>
          <a href="/events?utf8=✓&search=&category=0" id="all-btn" class= "list-group-item" style="text-align: left;">All</a>
          <% Category.all.each do |category| %>
            <a class="category-btn list-group-item" href="/events?utf8=✓&search=&category=<%=category.id %>" style="text-align: left;"><%= category.name %></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>

      <div class="events-container">
        <h3 id="events"><%= params[:timeline] == "Past Events" ? "Past Events" : "Upcoming Events" %></h3>
        <div>(<%= page_entries_info @events %>)</div>
        <hr>

        <% if @events.any? %>
          <%= render @events %>
        <% end %>
      <div class="col-md-12 text-center">
        <div class="row">
          <%= will_paginate %>
        </div>
      </div>
    </div>
  </div>
</div>




