<% provide(:title, "connect around live events") %>

<%= render "shared/category_navbar" %>
<div class="index-page-bg">
  <!-- Page Conent -->
  <header id="body-up">
    <div class="header-content">
      <div class="header-content-inner">
        <div class="left-text">
          <h1 id="homeHeading">Connect around<br><span>virtual event</span></h1>
          <% if current_user %>
            <%= link_to "Browse All Events", events_path %>
          <% else %>
            <%= link_to "Sign Up!", signup_path %>
          <% end %>
        </div>
        <%= image_tag('Webapp.png', class: "webapp") %>
      </div>
    </div>
  </header>

  <aside class="body-down">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <!-- <h1 id="homeHeading">Always find virtual things to do!</h1> -->
          <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <%= link_to events_path do %>
              <i class="fa fa-4x fa-search"></i>
              <h3>Explore Events</h3>
            <% end %>
            <p class="text-faded">You can search virtual events by name or categories!</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <%= link_to create_event_path do %>
              <i class="fa fa-4x fa-calendar"></i>
              <h3>Create Events</h3>
            <% end %>
            <p class="text-faded">Create your own virtual events and start earning money!</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <%= link_to events_path do %>
              <i class="fa fa-4x fa-user-plus"></i>
              <h3>Attend Events</h3>
            <% end %>
            <p class="text-faded">Find and attend virtual events which you're interested in!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <hr class="primary">
        </div>
      </div>
    </div>
  </aside>

  <section class="events-grid-container">
    <% if @events.any? %>
      <%= render @events %>
    <% else %>
      <p>No events</p>
    <% end %>
  </section>

</div>
